<div class="container text-center">
  <h1 class="page-title">Admin Search</h1>
  <br>
  <form #profileForm="ngForm" (ngSubmit)="searchProfiles()" novalidate>
    <table class="mat-table">
      <tbody>

        <tr>
          <td>
            <select [(ngModel)]="searchRequest.criterion" id="selectedSearch" name="selectedSearch" class="form-control-sm"
              #selected="ngModel" (change)="change($event)">
              <option *ngFor="let item of criterionList.criterion" value={{item}}>{{item}}</option>
            </select>
          </td>

          <td *ngIf="searchRequest.criterion=='NAME'">
            <input type="text" id="aName" class="form-control form-control-sm" required minlength="1" maxlength="20"
             placeholder="Associate Name" name="aName" [(ngModel)]="searchRequest.name" #name="ngModel">
            <div *ngIf="name.errors?.required && name.dirty" class="alert alert-danger">
              Invalid Name 
            </div>
          </td>
          <td *ngIf="searchRequest.criterion=='ASSOCIATEID'">
            <input type="text" id="aId" class="form-control form-control-sm" required minlength="1" maxlength="20"
              pattern="^(CTS).*"  placeholder="Associate Id" name="aId" [(ngModel)]="searchRequest.associateId" #aid="ngModel">
            <div *ngIf="aid.errors?.required && aid.dirty" class="alert alert-danger">
              Invalid Associate Id.
            </div>
          </td>
          <td *ngIf="searchRequest.criterion=='SKILL'">
            <select [(ngModel)]="searchRequest.skill" id="skill" name="skill" class="form-control-sm" required
              #selected="ngModel" placeholder="Select" (change)="change($event)">
              <option *ngFor="let item of skillList.softskills" value={{item}}>
                {{item}}</option>
            </select>
          </td>
          <td>
            <button type="submit" id="seachButton" class="btn btn-primary btn-sm" [disabled]="this.profileForm.invalid">
              Search</button>
          </td>
          
        </tr>
      </tbody>
    </table>
  </form>
</div>

<div>
  <br>
  <br>

  <table class="table table-hover" id="resultTable" *ngIf="showRecord">
    <thead>
      <tr>
        <th scope="col">Associate</th>
        <th scope="col">Technical Skills</th>
        <th scope="col">Non Technical Skills</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="searchResponse!=null && searchResponse?.errorMessage!=''">
        <td colspan="3">
          <div id="errorMessage" class="text-center">
            {{searchResponse?.errorMessage}}
          </div>
      </tr>
      <tr *ngIf="searchResponse==null">
        <td colspan="3">
          <div id="initMessage" class="text-center">
            Fetching data....
          </div>
      </tr>
      <tr *ngFor="let profile of searchResponse?.associates" class="result">
        <td>
          <div class="card">
            <div class="card-body">
              <table class="table table-striped table-sm">
                <tbody>
                  <tr>
                    <td>NAME</td>
                    <td>{{profile.name}}</td>
                  </tr>
                  <tr>
                    <td>ID</td>
                    <td>{{profile.associateId}}</td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td>{{profile.email}}</td>
                  </tr>
                  <tr>
                    <td>Mobile</td>
                    <td>{{profile.mobile}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
        <td>
          <div class="card">

            <div class="card-body">
              <table class="table  table-sm">
                <tbody>
                  <tr>
                    <th>Skill</th>
                    <th>Level</th>
                  </tr>
                  <tr *ngFor="let skill of profile.skills.technical">
                    <td class="e2e-inner-html-interpolated" [innerHTML]="skill.name"></td>
                    <td class="e2e-inner-html-interpolated" [innerHTML]="skill.level"></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </td>
        <td>
          <div class="card">

            <div class="card-body">
              <table class="table table-sm">
                <tbody>
                  <tr>
                    <th>Skill</th>
                    <th>Level</th>
                  </tr>
                  <tr *ngFor="let skill of profile.skills.nonTechnical">
                    <td class="e2e-inner-html-interpolated" [innerHTML]="skill.name"></td>
                    <td class="e2e-inner-html-interpolated" [innerHTML]="skill.level"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </tr>
  </table>
</div>